body
{
	
}


h1 {
	display: block;
	border: 1px solid #08088A;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 50%;
	color: #08088A;
	background-image: url(../img/1.jpg);
	border-radius: 20px;
}

form {
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../img/1.jpg);
	border: 3px solid #08088A;
	width: 50%;
	text-align: center;
	border-radius: 20px;
}

input[type=text], input[type=date] {
  font-size: 20px;
  color: #08088A;
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 20px 10px;

}
input[type=number] {
	font-size: 20px;
	text-align: center;
	color: blue;
	width: 20%;
	border-radius: 20px 10px;
}
input[name=observacion] {
	width: 60%;
}

input[type=submit] {
	width: 30%;
	padding: 10px 0px;
	margin-bottom:10px;
	border-radius: 15px;
	background-color: #08088A;
	color: yellow;
	font-size: 20px; 
}
input[type=reset]{
	width: 30%;
	padding: 10px 0px;
	margin-bottom:10px;
	border-radius: 15px;
	background-color: red;
	color: white;
	font-size: 20px;
}